<?xml version="1.0"?><!DOCTYPE module PUBLIC
	"-//Puppy Crawl//DTD Check Configuration 1.2//EN"
	"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">

	<module name="SuppressWarningsFilter" />

	<module name="SuppressionFilter">
		<property name="file"
			value="${proj.module.dir}/checkstyle-suppressions.xml" />
	</module>

	<!-- Enables us to suppress warnings for particular lines of code via annotation. -->
	<module name="SuppressWarningsFilter" />

	<!--<module name="FileLength"/>-->

	<!-- Unnecessary multiple blank lines. -->
	<module name="RegexpMultiline">
		<property name="format"
			value="^(\s*\n){2,}" />
		<property name="message"
			value="Unnecessary multiple blank lines." />
	</module>

	<module name="TreeWalker">
		<property name="cacheFile"
			value="bin/cachefile" />
		<property name="tabWidth"
			value="4" />

		<!-- Enables us to suppress warnings for particular lines of code via annotation. -->
		<module name="SuppressWarningsHolder" />

		<!-- Checks for Javadoc comments. See http://checkstyle.sf.net/config_javadoc.html -->
		<module name="JavadocType">
			<property name="scope"
				value="package" />
		</module>
		<module name="JavadocMethod">
			<property name="scope"
				value="package" />
			<property name="allowMissingPropertyJavadoc"
				value="true" />
		</module>
		<module name="JavadocVariable">
			<property name="scope"
				value="package" />
		</module>
		<module name="JavadocStyle">
			<property name="checkFirstSentence"
				value="false" />
		</module>

		<!-- Start lines with tabs instead of spaces. -->
		<module name="RegexpSinglelineJava">
			<property name="format"
				value="^ +" />
			<property name="message"
				value="Line has leading space characters; indentation should be performed with tabs only." />
			<property name="ignoreComments"
				value="true" />
		</module>

		<module name="AnnotationLocation">
			<property name="allowSamelineParameterizedAnnotation" value="true"/>
		</module>
		<module name="MissingDeprecated" />
		<module name="MissingOverride" />

		<!-- Checks for Naming Conventions.                  -->
		<!-- See http://checkstyle.sf.net/config_naming.html -->
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />

		<!-- Checks for imports                              -->
		<module name="AvoidStarImport" />
		<!-- See http://checkstyle.sf.net/config_import.html -->
		<module name="IllegalImport" />
		<!-- defaults to sun.* packages -->
		<module name="RedundantImport" />
		<module name="UnusedImports" />

		<!-- Checks for Size Violations.                    -->
		<!-- See http://checkstyle.sf.net/config_sizes.html -->
		<module name="LineLength">
			<property name="max"
				value="140" />
		</module>
		<module name="MethodLength" />
		<module name="ParameterNumber" />

		<!-- Checks for whitespace                               -->
		<!-- See http://checkstyle.sf.net/config_whitespace.html -->
		<module name="GenericWhitespace" />
		<module name="EmptyForIteratorPad" />
		<module name="MethodParamPad" />
		<module name="NoWhitespaceAfter">
			<property name="tokens"
				value="BNOT, DEC, DOT, INC, LNOT, UNARY_MINUS, ARRAY_DECLARATOR, UNARY_PLUS" />
		</module>
		<module name="NoWhitespaceBefore" />
		<module name="OperatorWrap" />
		<module name="ParenPad" />
		<module name="TypecastParenPad" />
		<module name="WhitespaceAfter" />
		<module name="WhitespaceAround" />

		<!-- Modifier Checks                                    -->
		<!-- See http://checkstyle.sf.net/config_modifiers.html -->
		<module name="ModifierOrder" />
		<module name="RedundantModifier" />

		<!-- Checks for blocks. You know, those {}'s         -->
		<!-- See http://checkstyle.sf.net/config_blocks.html -->
		<module name="AvoidNestedBlocks" />
		<!--module name="EmptyBlock"/-->
		<module name="LeftCurly" />
		<module name="NeedBraces">
			<property name="allowSingleLineStatement" value="true"/>
		</module>
		<module name="RightCurly" />

		<!-- Checks for common coding problems               -->
		<!-- See http://checkstyle.sf.net/config_coding.html -->
		<!--module name="AvoidInlineConditionals"/-->
		<module name="CovariantEquals" />
		<module name="DefaultComesLast" />
		<module name="EmptyStatement" />
		<module name="EqualsAvoidNull" />
		<module name="EqualsHashCode" />
		<module name="ExplicitInitialization" />
		<!--<module name="HiddenField" />-->
		<module name="IllegalInstantiation" />
		<module name="InnerAssignment" />
		<module name="MagicNumber">
			<property name="ignoreHashCodeMethod"
				value="true" />
			<property name="ignoreNumbers"
				value="-1, 0, 1, 2, 90, 100, 180, 255, 270, 360" />
		</module>
		<module name="MissingSwitchDefault" />
		<module name="ModifiedControlVariable" />
		<module name="OneStatementPerLine" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="FinalLocalVariable" />

		<!-- Checks for class design                         -->
		<!-- See http://checkstyle.sf.net/config_design.html -->
		<!--module name="DesignForExtension"/-->
		<module name="FinalClass" />
		<module name="HideUtilityClassConstructor" />
		<module name="InterfaceIsType" />
		<!--module name="VisibilityModifier"/-->

		<!-- Miscellaneous other checks.                   -->
		<!-- See http://checkstyle.sf.net/config_misc.html -->
		<module name="ArrayTypeStyle" />
		<module name="FinalParameters" />
		<!--module name="TodoComment"/-->
		<module name="UpperEll" />
	</module>
</module>